@import url(style.css);
header menu { display:  flex; flex-direction: row; }
header menu li:last-of-type { margin-left: auto; }
header menu li:last-of-type select { right: 2px; border-radius: 9px 0 9px 9px }
p { margin-top: 1em; }
